<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="dev.makepad.octosense.rolebrowsersecondfixture" android:versionCode="1" android:versionName="1">
    <uses-sdk android:minSdkVersion="30" android:targetSdkVersion="35"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:label="OctoSense role validation browser B" android:allowBackup="false">
        <activity android:name="dev.makepad.octosense.rolebrowserfixture.BrowserActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
            </intent-filter>
        </activity>
    </application>
    <instrumentation android:name="dev.makepad.octosense.rolebrowserfixture.RoleBrowserProbe" android:targetPackage="dev.makepad.octosense.rolebrowsersecondfixture" android:label="Second synthetic browser role state"/>
</manifest>
