<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <permission android:name="dev.makepad.octosense.permission.BIND_SYSTEM_BRIDGE" android:protectionLevel="signature" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <application android:name=".BridgeApplication" android:label="@string/app_name" android:icon="@android:drawable/ic_menu_manage" android:allowBackup="false" android:fullBackupContent="false" android:dataExtractionRules="@xml/data_extraction_rules" android:supportsRtl="true">
        <service android:name=".SystemBridgeService" android:exported="true" android:permission="dev.makepad.octosense.permission.BIND_SYSTEM_BRIDGE" />
        <service android:name=".NotificationAccessService" android:exported="true" android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter><action android:name="android.service.notification.NotificationListenerService" /></intent-filter>
        </service>
        <activity android:name=".BridgeSettingsActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <queries>
        <package android:name="dev.makepad.octosense" />
        <package android:name="dev.makepad.octosense.quickstep" />
    </queries>
</manifest>
