<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="dev.makepad.octosense.batterylegacyfixture" android:versionCode="1" android:versionName="1">
<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="25"/>
<application android:label="OctoSense Battery Fixture" android:allowBackup="false"/>
</manifest>
